<div class="container">
  <div class="header">
      <div class="logo">SUÍNO</div>    
      <div class="nav-links">
          <button mat-flat-button class="home" title="Clique aqui para voltar para a tela principal" routerLink="/home" routerLinkActive="active">HOME</button>
      </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
      <p>&copy; 2024 Grupo: Caio G., Gabriel S., Girleide M., Leane S. & Myllena S. Todos os direitos reservados. <a href="#">Política de Privacidade</a> | <a href="#">Termos do serviço</a></p>
  </div>
</div>

